body {
  margin: 0;
  font-size: 2rem;
  display: flex;
  min-height: 100vh;
}
main {
  background-color: lightblue;
  outline: solid;
  width: 700px;
  margin: 0 auto;
}
aside {
  outline: solid;
  background-color: lightgray;
  width: 25%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
}
ul {
  outline: solid;
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  outline: solid;
}

div {
  outline: solid;
  height: 300px;
  margin-top: auto;
}
